<table class="table table-bordered">
    <thead>
        <tr>
            <td>Keyword</td>
            <td>Search Engine</td>
            <td>Website</td>
            <td>Position</td>
            <td>Status</td>
        </tr>
    </thead>
</table>

